<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artifacts</title>
</head>
<body>


<link href="style.css" rel="stylesheet" type="text/css">

<div class="portfolio-wrap">
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="artifacts">
                <img src="https://64.media.tumblr.com/55cb4f9230b3be509311214e81a087a2/cd54de28797be3b2-d3/s400x600/4733483b547159461b6271c8195871b97c6db4dd.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Artifacts</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="char">
                <img src="https://i.pinimg.com/736x/f7/a8/45/f7a8454255e787cf9a669db61991686c.jpg">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Characters</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="index">
                <img src="https://i.pinimg.com/474x/5f/9b/86/5f9b864d00f7c55930355cf939ec2b4e.jpg">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Main Page</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>


<link href="dd.css" rel="stylesheet" type="text/css">

<div class="post-wrap">
    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/thundering_fury_flower.png"> </div>
            <div class="item-body">
                <h3>Thundering Fury</h3>
                <p>Increases damage caused by Overloaded, Electro-Charged and Superconduct by 40%. Triggering such effects decreases Elemental Skill CD by 1s. Can only occur once every 0.8s.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/crimson_witch_of_flames_flower.png"></div>
            <div class="item-body">
                <h3>Witch of Flames</h3>
                <p>Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using Elemental Skill increases the 2-Piece Set Bonus by 50% of its starting value for 10s. Max 3 stacks.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/viridescent_venerer_flower.png"></div>
            <div class="item-body">
                <h3>Viridiscent venerer</h3>
                <p>Increases Swirl DMG by 60%. </p>
                <p>Decreases opponent's </p>
                <p>Elemental RES to the  </p>
                <p>element infused</p>
                <p>in the Swirl by 40% for 10s.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/blizzard_strayer_flower.png"></div>
            <div class="item-body">
                <h3>Blizzard Strayer</h3>
                <p>When a character attacks an opponent affected by Cryo, their CRIT Rate is increased by 20%. If the opponent is Frozen, CRIT Rate is increased by an additional 20%.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/wanderers_troupe_flower.png"></div>
            <div class="item-body">
                <h3>Wanderers Troupe</h3>
                <p>Increases Charged</p>
                <p>Attack DMG by 35% </p>
                <p>if the character</p>
                <p>uses a Catalyst</p>
                <p>or a Bow.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/artifacts/noblesse_oblige_flower.png"></div>
            <div class="item-body">
                <h3>Noblesse Oblige</h3>
                <p>Using an Elemental </p>
                <p>Burst increases all party</p>
                <p>members' ATK by 20% </p>
                <p>for 12s. This effect </p>
                <p>cannot stack.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>More</span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>