<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenshinWiki</title>
</head>
<body>

<link href="style.css" rel="stylesheet" type="text/css">

<div class="portfolio-wrap">
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="artifacts">
                <img src="https://64.media.tumblr.com/55cb4f9230b3be509311214e81a087a2/cd54de28797be3b2-d3/s400x600/4733483b547159461b6271c8195871b97c6db4dd.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Artifacts</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="char">
                <img src="https://i.pinimg.com/736x/f7/a8/45/f7a8454255e787cf9a669db61991686c.jpg">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Characters</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="index">
                <img src="https://i.pinimg.com/474x/5f/9b/86/5f9b864d00f7c55930355cf939ec2b4e.jpg">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>Main Page</h3>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>


<link href="dd.css" rel="stylesheet" type="text/css">

<div class="post-wrap">
    <div class="post-item">
        <div class="item-content">
            <div><img src="https://paimon.moe/images/paimon_hello.png"></div>
            <div class="item-body">
                <h3>Hello Dear Adventurer</h3>
                <p>Welcome to our mini wiki about genshin impact</p>
            </div>
            <div class="item-footer">
                <span><input type="text" id="inpl"> <button onclick="a()">Send</button></span>
            </div>
        </div>
    </div>
    <p>

    </p>
    <script>

        function a()
        {     var a=document.getElementById('inpl').value;

            document.location.assign("https://api.genshin.dev/"+ a);
        }

    </script>




</div>
</body>
</html>




